@tailwind base;
@tailwind components;
@tailwind utilities;

.site-marquee {
	overflow: hidden;
	position: relative;
}
.site-marquee-inner {
	display: inline-block;
	white-space: nowrap;
	animation: site-marquee 8s linear infinite;
}
@keyframes site-marquee {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@media (min-width: 768px) {
	.site-marquee-inner {
		animation: none;
		padding-left: 0;
		transform: none;
	}
}
